// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html {
    box-sizing: border-box;
    margin-top: 0 !important;
    overflow-y: scroll;
    background-color: $color-background;
    scroll-behavior: smooth;
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
    box-sizing: inherit;
}


/**
 * Body Styles
 */

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}


/**
 * Sets Page to grow to fill body, forcing footer to the bottom
 */

main {
    flex-grow: 1;
}

.page-fade {
    opacity: 0;
    transition: opacity 0.5s;
}

.page-fade-show {
    opacity: 1;
}


/**
 * Basic styles for links
 */

a {
    color: $color-primary;
    text-decoration: none;
    @include on-event {
        color: $color-secondary;
        text-decoration: underline;
    }
}


/**
 * Basic styles for lists
 */

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        padding-bottom: 10px;
    }
}


/**
 * Basic styles for img
 */

img,
.img {
    height: auto;
    max-width: 100%;
    &--full-width {
        width: 100%;
    }
}

ul {
    li {
        &::before {
            content: "\2022";
            /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $color-primary;
            /* Change the color */
            font-weight: bold;
            /* If you want it to be bold */
            display: inline-block;
            /* Needed to add space between the bullet and the text */
            width: 1em;
            /* Also needed for space (tweak if needed) */
        }
    }
}

.slick-dots {
    li {
        &::before {
            content: "";
        }
    }
}

ol {
    padding: 0;
    li {
        list-style: decimal;
        list-style-position: inside;
    }
}

.wp-editor {
    ul {
        li {
            &::before {
                content: "\2022";
                /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: $color-primary;
                /* Change the color */
                font-weight: bold;
                /* If you want it to be bold */
                display: inline-block;
                /* Needed to add space between the bullet and the text */
                width: 1em;
                /* Also needed for space (tweak if needed) */
            }
        }
    }
}