// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face{
    font-family: Open Sans;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}
@font-face {
  font-family: 'Graphik-Light';
  src: url('assets/fonts/Graphik-Light.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/Graphik-Light.otf')  format('opentype'),
       url('assets/fonts/Graphik-Light.woff') format('woff'), url('assets/fonts/Graphik-Light.ttf')  format('truetype'), url('assets/fonts/Graphik-Light.svg#Graphik-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik-Semibold';
  src: url('assets/fonts/Graphik-Semibold.eot') format('embedded-opentype'),  url('assets/fonts/Graphik-Semibold.otf')  format('opentype'),
       url('assets/fonts/Graphik-Semibold.woff') format('woff'), url('assets/fonts/Graphik-Semibold.ttf')  format('truetype'), url('assets/fonts/Graphik-Semibold.svg#Graphik-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('assets/fonts/MyriadPro-Regular.eot') format('embedded-opentype'),  url('assets/fonts/MyriadPro-Regular.otf')  format('opentype'),
       url('assets/fonts/MyriadPro-Regular.woff') format('woff'), url('assets/fonts/MyriadPro-Regular.ttf')  format('truetype'), url('assets/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}