@charset 'UTF-8';
//Admin Colour
$dark-primary: #2b2d2d;
$menu-background: #282a2c;
$scrollbar-colour: #4e5151;
$large-heading-color: #cec7bd;
$color-blue: #67c2ea;
$text-color-beige:#b2ab9e;
$light-text-color: #e5e0d8;
$light-red: #ec605d;
$color-orange: #f56e28;
$wysiwyg-top-bars: #b5b5b5;
$wysiwyg-body-color: #dbdbdb;
$wysiwyg-outer-border-color:#545454;
$active-menu-background:#a7aaad;
#wpadminbar ul#wp-admin-bar-root-default li#wp-admin-bar-comments {
    display: none;
}

#wp-admin-bar-gform-forms {
    display: none;
}


/* Hide order from menu */

input[name=menu_order],
label[for=menu_order] {
    display: none
}

.acf-media-modal.-edit .media-sidebar .attachment-details .setting {
    width: 100%!important
}

.acf-media-modal.-edit .media-sidebar .attachment-details .setting .name {
    float: none
}

.acf-media-modal.-edit .media-sidebar .attachment-details .setting+.description {
    width: 77%
}

.attachment-details .copy-to-clipboard-container {
    margin-left: calc(23% - 1px)
}

.wp-editor-container .mce-edit-area.mce-container {
    overflow: hidden
}

.wp-editor-container .mce-edit-area.mce-container iframe {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1339px;
    width: calc(100% - 60px)!important;
    overflow: hidden
}

.acf-input .tmce-active .wp-editor-container .mce-edit-area.mce-container iframe {
    width: 100%!important;
    padding: 0;
    max-width: 100%;
    padding-left: 0
}

tr.user-tsf-user-meta\[facebook_page\]-wrap,
tr.user-tsf-user-meta\[twitter_page\]-wrap {
    display: none !important;
}

#toplevel_page_menus {
    ul.wp-submenu {
        display: none;
    }
}

.post-type-attachment {
    #titlediv {
        .inside {
            display: none;
        }
    }
}

.wp-admin .scrollbar-test {
    display: none;
}

body.dark--theme {
    scrollbar-color: $dark-primary $scrollbar-colour;
    -webkit-scrollbar-color: $dark-primary $scrollbar-colour;
    background-color: $dark-primary;
    color: $text-color-beige;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $large-heading-color !important;
    }
    #adminmenuback,
    #adminmenuwrap,
    #adminmenu,
    #adminmenu .wp-submenu {
        background-color: $menu-background;
    }
     ::-webkit-scrollbar {
        height: 12px;
        width: 17px;
        background: $dark-primary;
    }
     ::-webkit-scrollbar-thumb {
        background: $scrollbar-colour;
        -webkit-border-radius: 0;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
     ::-webkit-scrollbar-corner {
        background: $dark-primary;
    }
    .widefat {
        thead {
            tr {
                th {
                    color: $large-heading-color;
                }
            }
        }
    }
    h1,
    .wp-heading-inline {
        color: $large-heading-color;
    }
    .subsubsub {
        a.current {
            color: $large-heading-color;
        }
    }
    .wp-core-ui,
    .wrap {
        .button,
        .button-secondary,
        .page-title-action {
            border: 1px solid $color-blue;
            color: $color-blue;
            background-color: transparent;
            &:hover {
                background: $color-blue;
                border-color: $color-blue;
                color: $light-text-color;
            }
        }
    }
    .wf-btn-default {
        background: $color-blue;
        border-color: $color-blue;
        color: $light-text-color;
        &:hover {
            border: 1px solid $color-blue;
            color: $color-blue;
            background-color: transparent;
        }
    }
    a {
        color: $color-blue;
    }
    a:focus,
    a:focus .media-icon img,
    .wp-person a:focus .gravatar {
        box-shadow: none;
    }
    .subsubsub {
        a,
        a.current {
            .count {
                color: $light-text-color;
            }
        }
    }
    .wp-core-ui,
    .search-box {
        select,
        select option,
        select:focus,
        select:active,
        input,
        input:focus,
        input:hover,
        input:active {
            background-color: $menu-background;
            color: $large-heading-color;
            border-color: rgba($large-heading-color, 0.2);
            box-shadow: none;
        }
        select:hover {
            color: $color-blue;
        }
    }
    .control-section.open,
    #menu-settings-column {
        .accordion-section-title,
        .accordion-container {
            border-color: rgba($large-heading-color, 0.2);
        }
    }
    .accordion-section {
        &.open:hover {
            border-color: rgba($large-heading-color, 1);
        }
    }
    .woocommerce {
        .woocommerce-reports-wide {
            .postbox {
                .chart-widgets {
                    li.chart-widget {
                        border-color: rgba($large-heading-color, 0.2);
                        background-color: transparent;
                    }
                }
                .chart-container {
                    background-color: $menu-background;
                    border-color: rgba($large-heading-color, 0.2);
                }
                .chart-legend {
                    background-color: $menu-background;
                    border-color: rgba($large-heading-color, 0.2);
                    li {
                        color: $text-color-beige;
                        box-shadow: inset 0 -1px 0 0 rgba($large-heading-color, 0.2);
                        strong {
                            color: $large-heading-color;
                        }
                        &:hover {
                            box-shadow: inset 0 -1px 0 0 #dfdfdf, inset 300px 0 0 rgba($large-heading-color, 0.1);
                            border-right: 5px solid $large-heading-color !important;
                            color: $large-heading-color;
                        }
                    }
                }
            }
        }
        &-layout {
            .woocommerce-inbox-message__content {
                .woocommerce-inbox-message__title {
                    a {
                        color: $large-heading-color !important;
                    }
                }
            }
            .woocommerce-homescreen {
                .woocommerce-activity-panel {
                    .components-panel__body {
                        background-color: $menu-background;
                        border-color: rgba($large-heading-color, 0.2) !important;
                        &-title {
                            &:hover {
                                background: $text-color-beige;
                                .components-text {
                                    color: $dark-primary;
                                }
                            }
                        }
                    }
                }
            }
            .components-text {
                color: $text-color-beige;
            }
            .woocommerce {
                &-quick-links__item {
                    &:hover {
                        background-color: $text-color-beige;
                        .components-text {
                            color: $dark-primary;
                        }
                        svg {
                            fill: $dark-primary !important;
                        }
                    }
                    &-link {
                        svg {
                            fill: $color-blue !important;
                        }
                    }
                }
                &-inbox-message {
                    &:hover {
                        background-color: $menu-background;
                    }
                    &__actions {
                        button.woocommerce-admin-dismiss-notification {
                            color: $color-blue;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    #screen-meta {
        border-color: $text-color-beige;
    }
    .displaying-num {
        color: $text-color-beige;
    }
    .woocommerce,
    .wrap {
        .widefat {
            tfoot,
            thead {
                th,
                td {
                    border-color: rgba($large-heading-color, 0.2);
                }
            }
            td,
            ul,
            ol {
                color: $text-color-beige;
            }
        }
        #woocommerce-product-data,
        #woocommerce-coupon-data,
        #woocommerce-product-data,
        .woocommerce,
        .woocommerce_options_panel {
            .panel-wrap,
            ul.wc-tabs,
            .options_group {
                border-color: rgba($large-heading-color, 0.2);
                background-color: $menu-background;
                li {
                    &.active {
                        a {
                            background-color: $dark-primary;
                            color: $text-color-beige;
                        }
                    }
                    a {
                        border-color: rgba($large-heading-color, 0.2);
                    }
                }
            }
        }
    }
    td {
        &.column-title strong,
        &.plugin-title strong {
            color: $text-color-beige;
        }
    }
    #wpbody-content {
        .update-nag,
        .error {
            border-color: $color-orange;
            background-color: $menu-background;
            color: $text-color-beige;
        }
        .error {
            border-color: $text-color-beige;
            border-left-color: $light-red;
        }
    }
    #screen-meta-links {
        .show-settings {
            background-color: $menu-background;
            color: $text-color-beige;
            border-color: $text-color-beige;
            &:hover,
            &:focus,
            &:active {
                color: $color-blue;
            }
        }
    }
    #titlediv {
        #title {
            background-color: $menu-background;
        }
    }
    h2,
    h3 {
        color: $large-heading-color;
    }
    .acf-fields> {
        .acf-field {
            border-color: rgba($text-color-beige, 0.2) !important;
        }
        .acf-tab-wrap {
            background: $dark-primary !important;
        }
    }
    .acf-fields {
        >.acf-tab-wrap {
            .acf-tab-group {
                border-color: rgba($text-color-beige, 0.2) !important;
                li {
                    a {
                        background: none !important;
                        border-color: rgba($text-color-beige, 0.2) !important;
                    }
                    &.active a {
                        background: $menu-background !important;
                    }
                }
            }
        }
    }
    .acf-tab-group {
        li {
            a {
                color: $light-text-color !important;
            }
            &.active {
                a {
                    color: $text-color-beige !important;
                }
            }
        }
    }
    .postbox,
    .postbox-header {
        border-color: rgba($text-color-beige, 0.2);
    }
    #major-publishing-actions {
        background-color: transparent;
        border-color: rgba($text-color-beige, 0.2);
    }
    .tsf-flex-setting-input,
    body.woocommerce-page {
        textarea,
        .components-card {
            background-color: $menu-background;
            color: $text-color-beige;
            border-color: rgba($text-color-beige, 0.2);
        }
    }
    .tsf-flex-nav-tab-wrapper,
    .tsf-flex-setting,
    .attachments-browser .media-toolbar {
        border-color: rgba($text-color-beige, 0.2);
    }
    .tsf-flex-nav-tab .tsf-flex-nav-tab-radio:checked+.tsf-flex-nav-tab-label {
        box-shadow: 0 -2px 0 0 $color-blue inset, 0 0 0 0 $color-blue inset;
    }
    .tsf-count-unknown {
        color: $color-blue;
    }
    .tsf-pixel-counter-fluid {
        background-color: $color-blue;
    }
    .tsf-pixel-counter-bad {
        .tsf-pixel-counter-fluid {
            background-color: $light-red;
        }
    }
    .tsf-count-bad,
    .woocommerce table.wc_status_table th .red {
        color: $light-red;
    }
    .tsf-flex-setting-input {
        .tsf-flex-setting,
        .tsf-flex-setting:last-of-type,
        .tsf-flex-setting:first-of-type {
            border-color: rgba($text-color-beige, 0.2);
        }
    }
    .wp-filter {
        color: $text-color-beige;
    }
    input[type="search"] {
        background-color: $menu-background;
    }
    #adminmenu li.current a.menu-top,
    #adminmenu .wp-menu-arrow,
    #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
    #adminmenu .wp-menu-arrow div {
        background-color: $color-blue;
    }
    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
        background-color: $active-menu-background;
    }
    #adminmenu a:hover,
    #adminmenu .wp-submenu a:hover,
    #adminmenu .wp-submenu a:focus,
    #adminmenu li:hover div.wp-menu-image::before,
    #adminmenu li a:focus div.wp-menu-image::before,
    #adminmenu li.opensub div.wp-menu-image::before {
        color: $color-blue;
    }
    #adminmenu a:hover,
    #adminmenu a:focus,
    .folded #adminmenu .wp-submenu-head:hover {
        box-shadow: inset 4px 0 0 0 $color-blue;
    }
    .wp-core-ui {
        .button-link {
            color: $color-blue;
        }
    }
    .row-actions span.delete a,
    .row-actions span.trash a,
    .row-actions span.spam a,
    .plugins a.delete,
    #all-plugins-table .plugins a.delete,
    #search-plugins-table .plugins a.delete,
    .submitbox .submitdelete,
    #media-items a.delete,
    #media-items a.delete-permanently,
    #nav-menu-footer .menu-delete,
    #delete-link a.delete,
    a#remove-post-thumbnail {
        color: $light-red;
    }
    ul.category-tabs li.tabs,
    ul.add-menu-item-tabs li.tabs,
    .wp-tab-active {
        background-color: transparent;
    }
    #side-sortables .category-tabs .tabs a,
    #side-sortables .add-menu-item-tabs .tabs a,
    .wp-tab-bar .wp-tab-active a,
    #post-body ul.category-tabs li.tabs a,
    #post-body ul.add-menu-item-tabs li.tabs a {
        color: $text-color-beige;
    }
    .category-tabs a,
    #side-sortables .add-menu-item-tabs a,
    .wp-tab-bar a,
    .woocommerce-layout .woocommerce-summary__item .woocommerce-summary__item-value {
        color: $light-text-color;
    }
    ul.category-tabs li.tabs,
    ul.add-menu-item-tabs li.tabs,
    .wp-tab-active,
    .components-flex.components-card__header,
    .woocommerce-layout .woocommerce-stats-overview__tabs .components-tab-panel__tabs,
    .woocommerce-layout article.woocommerce-stats-overview__install-jetpack-promo footer,
    .woocommerce-layout .components-card__footer,
    .woocommerce-layout .woocommerce-inbox-message:not(.is-placeholder),
    .woocommerce-layout .woocommerce-inbox-message__actions,
    .woocommerce-layout .woocommerce-analytics__card,
    .woocommerce-layout .woocommerce-analytics__card .woocommerce-card__header,
    .woocommerce-layout .woocommerce-table__header,
    .woocommerce-layout .woocommerce-table__item,
    .woocommerce-layout .woocommerce-table__empty-item,
    .woocommerce.wc_addons_wrap form.search-form input,
    .woocommerce.wc_addons_wrap .addons-banner-block,
    .woocommerce.wc_addons_wrap .addons-banner-block-item {
        border-color: rgba($text-color-beige, 0.2);
    }
    .woocommerce {
        .woocommerce-reports-wide {
            .postbox {
                div.stats_range {
                    .export_csv {
                        border-color: rgba($text-color-beige, 0.2);
                    }
                }
            }
        }
    }
    .wp-tab-panel,
    .categorydiv div.tabs-panel,
    .customlinkdiv div.tabs-panel,
    .posttypediv div.tabs-panel,
    .taxonomydiv div.tabs-panel {
        background-color: transparent;
        border-color: rgba($text-color-beige, 0.2);
    }
    .form-table th,
    .form-wrap label,
    .woocommerce-marketing-recommended-extensions-item:hover .woocommerce-marketing-recommended-extensions-item__text p {
        color: $text-color-beige;
    }
    .form-field input[type="text"],
    .form-field input[type="password"],
    .form-field input[type="email"],
    .form-field input[type="number"],
    .form-field input[type="search"],
    .form-field input[type="tel"],
    .form-field input[type="url"],
    .form-field textarea,
    .select2-container.select2-container--default .select2-selection--single {
        background-color: transparent;
        border-color: rgba($text-color-beige, 0.2);
        color: $text-color-beige;
    }
    .select2-container--default.select2-container {
        .select2-selection--single {
            .select2-selection__rendered {
                color: $text-color-beige;
            }
        }
        .select2-results__option[aria-selected="true"] {
            background-color: transparent;
        }
    }
    .select2-container {
        .select2-container--default.-acf {
            .select2-selection {
                border-color: rgba($text-color-beige, 0.2);
            }
        }
        .select2-dropdown {
            background-color: $menu-background;
        }
    }
    .postbox {
        .acf-oembed {
            background-color: transparent;
            border-color: rgba($text-color-beige, 0.2);
            .title {
                border-color: rgba($text-color-beige, 0.2);
            }
            .canvas {
                background-color: transparent;
            }
        }
    }
    .woocommerce-layout {
        .woocommerce-layout__activity-panel-tabs {
            .woocommerce-layout__activity-panel-tab {
                background-color: $dark-primary;
                color: $text-color-beige;
                &:hover {
                    background-color: $color-blue !important;
                    color: $light-text-color;
                }
            }
        }
        .is-alert-update {
            background-color: $menu-background;
            &::before {
                background-color: $color-blue
            }
        }
    }
    body.woocommerce-page {
        .components-button {
            color: $color-blue;
            &.is-primary {
                background-color: $color-blue !important;
                color: $light-text-color !important;
            }
            &.is-secondary,
            &.is-tertiary {
                color: $color-blue;
                box-shadow: inset 0 0 0 1px $color-blue;
                &:hover {
                    color: $light-text-color;
                    background-color: $color-blue;
                    box-shadow: inset 0 0 0 1px $color-blue;
                }
            }
        }
        .components-tab-panel__tabs-item {
            color: $light-text-color;
            &:hover {
                color: $color-blue;
            }
            &.is-active {
                box-shadow: inset 0 0 0 1.5px transparent, inset 0 -4px 0 0 $color-blue;
            }
        }
        a.button-primary {
            background: $color-blue;
            border-color: $color-blue;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 $color-blue;
            color: $light-text-color;
            text-shadow: none;
            &:hover {
                background: none;
                border-color: $color-blue;
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 $color-blue;
            }
        }
    }
    .woocommerce-accordion-card .components-card__header .woocommerce-accordion-header .woocommerce-accordion-title {
        color: $large-heading-color;
    }
    .woocommerce-layout .woocommerce-stats-overview__stats .woocommerce-summary__item {
        &:hover {
            background-color: $color-blue;
            .woocommerce-summary__item-delta {
                background-color: $color-blue;
            }
            * {
                color: $light-text-color;
            }
        }
    }
    .woocommerce-layout {
        .woocommerce-table {
            &__header {
                border-color: rgba($text-color-beige, 0.2);
                &+.woocommerce-table__header {
                    border-color: rgba($text-color-beige, 0.2);
                }
            }
            &__header,
            &__table tr:hover {
                background-color: transparent;
            }
            &__header.is-sorted {
                background-color: $menu-background;
                color: $text-color-beige;
            }
        }
        .woocommerce-table__summary {
            background-color: $menu-background;
        }
    }
    .woocommerce {
        .nav-tab-wrapper {
            border-color: $color-blue;
            .nav-tab {
                background-color: transparent;
                border-color: $color-blue;
                color: $color-blue;
                &-active {
                    background-color: $color-blue;
                    border-color: $color-blue;
                    color: $light-text-color;
                }
            }
        }
        .woocommerce-reports-wide {
            .postbox {
                .stats_range {
                    ul {
                        background-color: $menu-background;
                        border-color: rgba($text-color-beige, 0.2);
                        li {
                            a {
                                border-color: rgba($text-color-beige, 0.2);
                            }
                            &.active {
                                box-shadow: 0 4px 0 0 rgba($text-color-beige, 0.2);
                                a {
                                    background-color: $color-blue;
                                    color: $light-text-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        .status-enabled {
            &::before {
                color: inherit;
            }
        }
        div.woocommerce-message {
            &.updated {
                border-left-color: $color-blue !important;
                border-color: rgba($text-color-beige, 0.2);
            }
        }
        &.wc_addons_wrap {
            .addons-banner-block-item-icon,
            .addons-column-block-item-icon {
                background-color: rgba($text-color-beige, 0.2);
                border: none;
            }
            .addons-column-block,
            .addons-small-dark-block,
            .addons-small-light-block {
                border: 1px solid rgba($text-color-beige, 0.2);
            }
            .addons-column-block-item {
                border-top: 2px solid rgba($text-color-beige, 0.2);
            }
        }
    }
    body.wp-core-ui,
    .woocommerce.wc_addons_wrap {
        .button-primary,
        .addons-button,
        .googlesitekit-plugin .mdc-button--raised:not(:disabled) {
            background-color: $color-blue;
            border: 1px solid $color-blue;
            color: $light-text-color;
            text-decoration: none;
            box-shadow: none;
            text-shadow: none;
            &:hover {
                background-color: transparent;
                border: 1px solid $color-blue;
                color: $color-blue;
            }
        }
    }
    .css-pyya32-Text {
        color: $large-heading-color !important;
    }
    &.wp-admin {
        table.widefat,
        .wp-editor-container,
        .stuffbox,
        p.popular-tags,
        .widgets-holder-wrap,
        .popular-tags,
        .feature-filter,
        .imgedit-group,
        .comment-ays,
        input[type="checkbox"],
        input[type="radio"],
        .components-checkbox-control__input[type=checkbox] {
            background-color: transparent;
            border-color: rgba($large-heading-color, 0.2);
        }
        .components-checkbox-control__input[type=checkbox] {
            &:focus {
                outline: none;
                box-shadow: none;
                border-color: $color-blue;
            }
            &:checked {
                background-color: $color-blue;
            }
        }
        .woocommerce-marketing-coupons {
            .woocommerce-marketing-recommended-extensions-item:hover {
                .woocommerce-admin-marketing-product-icon:not(.is-placeholder) {
                    background-color: $color-blue !important;
                    border-color: $color-blue;
                }
            }
        }
        .woocommerce {
            &-dashboard__store-performance {
                .woocommerce {
                    &-summary__item {
                        background-color: $menu-background;
                        border-color: rgba($large-heading-color, 0.2) !important;
                        &:hover {
                            background-color: $text-color-beige;
                            .components-text,
                            .css-pyya32-Text {
                                color: $dark-primary !important;
                            }
                        }
                    }
                }
            }
            &-summary {
                border: 1px solid rgba($large-heading-color, 0.2);
            }
            &-table__header.is-sorted,
            &-table__item.is-sorted {
                background-color: $light-text-color;
            }
            &-table {
                &__header,
                &__item {
                    a {
                        &:focus,
                        &:hover {
                            color: $color-blue;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
        hr {
            border: 0;
            border-top: 1px solid $text-color-beige;
            border-bottom: 1px solid $light-text-color;
        }
        .components {
            &-button.is-secondary:disabled {
                background-color: transparent;
            }
        }
        .acf-fields.-sidebar:before {
            border-color: rgba($large-heading-color, 0.2);
            background-color: $menu-background;
        }
        .wp-picker-container {
            .wp-color-result.button {
                background-color: transparent;
                border-color: rgba($large-heading-color, 0.2);
                ;
            }
        }
        .acf-fields {
            textarea {
                background-color: transparent;
                border-color: rgba($large-heading-color, 0.2);
                color: $light-text-color;
            }
        }
        .acf-table {
            border-color: rgba($large-heading-color, 0.2);
            background-color: transparent;
            thead,
            tbody {
                tr {
                    th,
                    td {
                        background-color: transparent;
                        color: $light-text-color;
                        border-color: rgba($large-heading-color, 0.2);
                    }
                }
            }
        }
        .acf-repeater {
            .acf-row-handle {
                &.remove {
                    background-color: transparent;
                    border-color: rgba($large-heading-color, 0.2);
                }
                &.order {
                    background-color: $text-color-beige;
                    color: $dark-primary;
                    text-shadow: none;
                    border-color: rgba($large-heading-color, 0.2);
                }
            }
        }
        div.woocommerce-message.updated {
            border-left-color: $color-blue !important;
        }
        .plugins {
            tr {
                background-color: transparent;
            }
            .active {
                td,
                th {
                    background-color: $menu-background;
                }
            }
        }
        .widefat {
            p,
            ol,
            ul {
                color: $light-text-color;
            }
        }
        .wp-filter {
            background-color: $menu-background;
            border-color: rgba($large-heading-color, 0.2);
        }
        .filter-links {
            .current {
                color: $color-blue;
                border-color: $color-blue;
            }
            li {
                >a {
                    color: $text-color-beige;
                    border-color: $text-color-beige;
                }
            }
        }
        .plugin-card {
            background-color: $menu-background;
            border-color: $text-color-beige;
            &-bottom {
                background-color: $light-text-color;
            }
        }
        .importer-title {
            color: $large-heading-color;
        }
        p.description,
        .form-wrap p {
            color: $light-text-color;
        }
        .privacy-settings-accordion-trigger,
        .health-check-accordion-trigger {
            color: $text-color-beige;
        }
        .wpmdb {
            .nav {
                &-item-active {
                    border-color: $color-blue;
                    a {
                        color: $color-blue !important;
                    }
                }
                li {
                    a {
                        color: $text-color-beige;
                    }
                }
            }
            .link {
                color: $color-blue;
            }
            .notification {
                border-color: $color-orange;
            }
            .text-error {
                color: $light-red;
            }
            .container-shadow,
            tr:nth-child(odd) {
                background-color: $menu-background;
                border-color: rgba($large-heading-color, 0.2);
            }
            tr:nth-child(2n) {
                background-color: $dark-primary;
            }
            .bg-grey-light {
                background-color: $text-color-beige;
            }
            .btn {
                background-color: $color-blue;
                border-color: $color-blue;
            }
        }
        input[type="text"],
        input[type="password"],
        input[type="color"],
        input[type="date"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="email"],
        input[type="month"],
        input[type="number"],
        input[type="search"],
        input[type="tel"],
        input[type="time"],
        input[type="url"],
        input[type="week"],
        select,
        textarea {
            background-color: $menu-background;
            color: $text-color-beige;
            border-color: rgba($large-heading-color, 0.2);
        }
        .tsf-nav-tab {
            &-label {
                border-color: $text-color-beige;
                background-color: $text-color-beige;
                color: $dark-primary;
            }
            &-radio:checked {
                +label,
                .tsf-nav-tab-active {
                    border-color: $text-color-beige;
                    background-color: transparent;
                    color: $text-color-beige;
                }
            }
            &-js,
            &-wrapper {
                border-color: $text-color-beige;
            }
        }
        .attention,
        .error-message {
            color: $light-red;
        }
        .googlesitekit {
            &-logo__logo-sitekit path {
                fill: $large-heading-color;
            }
            &-setup {
                .googlesitekit-setup__splash {
                    border-color: $text-color-beige;
                }
                &__warning {
                    svg {
                        color: $color-orange;
                    }
                }
            }
            &-plugin {
                color: $light-text-color;
                a {
                    color: $color-blue;
                }
                .mdc-checkbox {
                    &__native-control:enabled {
                        &:not(:checked):not(:indeterminate)~.mdc-checkbox__background {
                            background-color: transparent;
                            border-color: rgba($large-heading-color, 0.2);
                        }
                        &:checked~.mdc-checkbox__background,
                        &:indeterminate~.mdc-checkbox__background {
                            background-color: $color-blue;
                            border-color: $color-blue;
                        }
                    }
                }
            }
        }
        .gform {
            &-settings {
                &-panel {
                    &__content {
                        border-color: $text-color-beige;
                        .wp-list-table {
                            &.striped {
                                >tbody> :nth-child(odd) {
                                    background-color: $menu-background;
                                }
                            }
                            .alternate {
                                background-color: $menu-background;
                            }
                        }
                        select:not([multiple]),
                        .select2-container .select2-selection__rendered {
                            background-color: transparent;
                        }
                    }
                    &__title--header {
                        color: $large-heading-color;
                    }
                }
                &__navigation {
                    a {
                        color: $color-blue;
                        .dashicons,
                        .fa {
                            color: inherit;
                        }
                    }
                    .active,
                    a:focus {
                        background-color: $color-blue;
                        border-color: $color-blue;
                        color: $dark-primary;
                    }
                }
                &-panel {
                    background-color: $menu-background;
                    border-color: rgba($large-heading-color, 0.2);
                }
                &-description {
                    color: $text-color-beige;
                }
                &__content {
                    table.gform_system_report,
                    table.plugins {
                        background-color: transparent;
                        border-color: rgba($large-heading-color, 0.2);
                    }
                    & table.gform_system_report>tbody>tr:nth-child(odd),
                    & table.plugins>tbody>tr:nth-child(odd) {
                        background-color: $menu-background;
                    }
                }
            }
            &-settings,
            &-field {
                &__toggle {
                    input[type="checkbox"]:checked+.gform-field__toggle-container {
                        background-color: $color-blue;
                    }
                }
            }
            &_system_report {
                mark.error,
                .error_message {
                    color: $light-red;
                }
            }
        }
        a:hover,
        a:active {
            color: $color-blue;
        }
        .gform-field__toggle input[type="checkbox"]:checked+.gform-field__toggle-container,
        .gform-settings-field__toggle input[type="checkbox"]:checked+.gform-field__toggle-container {
            background-color: $color-blue;
        }
        .wrap {
            color: $text-color-beige;
        }
        td.featured-addon,
        td.available-addon {
            border-color: rgba($large-heading-color, 0.2);
        }
        &.forms_page_gf_help {
            background-color: $menu-background;
        }
        .gf_help_content {
            color: $text-color-beige;
            p {
                color: $text-color-beige;
            }
        }
        #gf_help_page_search input {
            border-color: rgba($large-heading-color, 0.2);
            color: $text-color-beige;
        }
        #gf_help_page_search input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $text-color-beige;
        }
        #gf_help_page_search input::-moz-placeholder {
            /* Firefox 19+ */
            color: $text-color-beige;
        }
        #gf_help_page_search input:-ms-input-placeholder {
            /* IE 10+ */
            color: $text-color-beige;
        }
        #gf_help_page_search input:-moz-placeholder {
            /* Firefox 18- */
            color: $text-color-beige;
        }
        .hf-accordion {
            border-color: rgba($large-heading-color, 0.2);
            &-content {
                background-color: transparent;
            }
            &-heading {
                background-color: $menu-background;
                border-color: rgba($large-heading-color, 0.2);
            }
        }
        .hf-field-builder {
            background-color: $menu-background;
            border-color: rgba($large-heading-color, 0.2);
        }
        .nav-tab {
            background: $light-text-color;
            color: $menu-background;
            &:hover {
                background-color: transparent;
                color: $light-text-color;
            }
        }
        .nav-tab-active,
        .nav-tab-active:hover,
        .nav-tab-active:focus,
        .nav-tab-active:focus:active {
            border-color: $text-color-beige;
            background: $text-color-beige;
            color: $dark-primary;
        }
        h1.nav-tab-wrapper,
        .wrap h2.nav-tab-wrapper,
        .nav-tab-wrapper {
            border-color: $text-color-beige;
        }
        #wp-mail-smtp {
            .wp-mail-smtp {
                &-page-title {
                    background-color: $menu-background;
                    .page-title {
                        background-color: transparent;
                        color: $large-heading-color;
                    }
                    a.tab {
                        color: $text-color-beige;
                        border-color: $text-color-beige;
                        &.active {
                            border-color: $color-orange;
                            color: $light-text-color;
                        }
                    }
                }
                &-page-content {
                    .wp-mail-smtp-setting-row {
                        border-color: $text-color-beige;
                    }
                    .wp-mail-smtp-setting-row {
                        input[type="text"],
                        input[type="email"],
                        input[type="number"],
                        input[type="password"],
                        select {
                            background-color: $menu-background;
                            border-color: rgba($large-heading-color, 0.2);
                            color: $text-color-beige;
                        }
                    }
                }
                &-product-education__description {
                    color: $text-color-beige;
                }
                &-btn.wp-mail-smtp-btn-orange {
                    background-color: $color-orange;
                    border: 1px solid $color-orange;
                    color: $dark-primary;
                    &:hover {
                        background-color: transparent;
                        color: $color-orange;
                        border-color: $color-orange;
                    }
                }
                &-page-about .wp-mail-smtp-admin-about-section {
                    background-color: $menu-background;
                    border-color: rgba($large-heading-color, 0.2);
                }
            }
        }
        .wp-mail-smtp {
            &-page-about.wp-mail-smtp {
                &-tab-about-about {
                    .wp-mail-smtp {
                        &-admin-about-plugins {
                            .plugins-container {
                                .plugin-item {
                                    background-color: $menu-background;
                                    border-color: rgba($large-heading-color, 0.2);
                                    .actions {
                                        background-color: transparent;
                                        border-color: $text-color-beige;
                                    }
                                    img {
                                        background-color: $text-color-beige;
                                        border-color: $text-color-beige;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .acf-admin-field-groups {
            .wp-list-table {
                tr:hover {
                    background-color: $scrollbar-colour;
                }
            }
        }
        .acf-thead {
            border-color: $text-color-beige;
            >li {
                color: $text-color-beige;
            }
        }
        #acf-field-group-fields {
            .acf-field-list-wrap {
                border-color: rgba($large-heading-color, 0.2);
            }
        }
        .acf-field-object {
            background-color: $menu-background;
            >.handle {
                .acf-icon {
                    color: $light-text-color;
                    border-color: $light-text-color;
                }
                .row-options {
                    a.delete-field {
                        color: $light-red;
                    }
                }
            }
            &.open {
                >.handle {
                    background-color: $color-blue;
                    border-color: $color-blue;
                    text-shadow: none;
                    color: $menu-background;
                    a {
                        color: $dark-primary !important;
                    }
                }
            }
        }
        .acf-tfoot {
            background-color: transparent;
            border-color: $text-color-beige;
        }
        .acf-fields,
        .acf-table {
            &.-left,
            tr.acf-field {
                >.acf-field:before,
                >td.acf-label {
                    background-color: transparent;
                    border-color: $text-color-beige;
                }
            }
        }
        .acf-table {
            tr.acf-field {
                >td.acf-input {
                    border-color: $text-color-beige;
                }
            }
        }
        .acf-switch,
        .acf-input-prepend,
        .acf-input-append {
            background-color: $text-color-beige;
            border-color: $text-color-beige;
            color: $menu-background;
            &.-on {
                background-color: $color-blue;
                border-color: $color-blue;
            }
        }
        .acf-admin-toolbar {
            background-color: $menu-background;
            border-color: rgba($large-heading-color, 0.2);
            .acf-tab.is-active {
                border-color: $color-blue;
            }
        }
        .acf-meta-box-wrap {
            .acf-fields {
                background-color: $menu-background;
                border-color: rgba($large-heading-color, 0.2);
            }
        }
        .acf-box {
            background-color: $menu-background;
            border-color: rgba($large-heading-color, 0.2);
            .title {
                border-color: $text-color-beige;
            }
        }
        .gdbc-settings {
            tr.even {
                background-color: transparent;
            }
            form {
                >h3 {
                    background-color: transparent;
                    border-color: $text-color-beige;
                }
            }
        }
        div.wp-bruiser-extensions .plugin-card li a:hover {
            color: $light-text-color;
        }
        #wf-dashboard,
        #wf-global-options {
            .wf-block {
                .wf-block-content {
                    .wf-block-labeled-value {
                        &.wf-global-status-full-enabled {
                            background-color: $color-blue;
                            .wf-block-labeled-value-label {
                                color: $light-text-color;
                            }
                        }
                    }
                }
            }
        }
        .wf-block {
            background-color: $menu-background;
            &-content {
                .wf-block-labeled-value {
                    &.wf-waf-status-enabled,
                    &.wf-scan-status-enabled {
                        .wf-block-labeled-value {
                            &-value {
                                color: $color-blue;
                            }
                            &-label {
                                color: $color-blue;
                            }
                        }
                    }
                    &.wf-scan-status .wf-block-labeled-value-value .wf-fa {
                        color: $color-blue;
                    }
                }
            }
            &.wf-active {
                >.wf-block-header {
                    >.wf-block-header-content {
                        >.wf-block-title {
                            color: $color-blue;
                        }
                    }
                }
            }
        }
        .wf-btn-primary {
            background-color: $color-blue;
            border-color: $color-blue;
            color: $light-text-color;
            &:hover {
                background-color: transparent;
            }
        }
        .wf-pagination>.wf-active>a,
        .wf-pagination>.wf-active>a:hover,
        .wf-pagination>.wf-active>a:focus,
        .wf-pagination>.wf-active>span,
        .wf-pagination>.wf-active>span:hover,
        .wf-pagination>.wf-active>span:focus {
            background-color: $color-blue;
            border-color: $color-blue;
        }
        .wf-dashboard-item {
            background-color: $menu-background;
            box-shadow: none;
            border: 1px solid rgba($large-heading-color, 0.2);
            .wf-dashboard-item-extra {
                .wf-dashboard-item-list {
                    >li {
                        border-color: $text-color-beige;
                    }
                }
            }
        }
        .wrap.wordfence {
            p,
            td,
            li {
                color: $light-text-color;
            }
        }
        .wf-option-checkbox.wf-checked,
        [type=checkbox].wf-option-checkbox:checked+label:before {
            background-color: $color-blue !important;
            border: 1px solid $color-blue;
            box-shadow: none !important;
        }
        .wf-striped-table tbody tr td,
        .wf-striped-table tbody tr.odd td {
            background-color: transparent;
        }
        .wf-striped-table tbody tr.even td,
        .wf-striped-table tbody tr:nth-child(2n) td {
            background-color: $dark-primary;
        }
        ul.wf-option li.wf-option-text>input[type="text"],
        .wf-form-field li.wf-option-text>input[type="text"] {
            border: 1px solid rgba($large-heading-color, 0.2);
            box-shadow: none;
        }
        #wf-live-traffic .wf-striped-table tbody tr:hover>td {
            background-color: $text-color-beige;
        }
        .wf-switch>li.wf-active,
        .wf-boolean-switch.wf-active {
            background-color: $color-blue;
            border-color: $color-blue;
        }
        .wf-boolean-switch.wf-active .wf-boolean-switch-handle {
            border-color: $color-blue;
        }
    }
    //wp-admin css end
    .js {
        .control-section {
            &.open {
                .accordion-section-title {
                    background-color: $menu-background;
                }
            }
            .accordion-section-title {
                background-color: $menu-background;
                &:focus {
                    background-color: $menu-background;
                }
            }
            &:hover {
                .accordion-section-title {
                    background-color: $menu-background;
                    &:hover {
                        background-color: $menu-background;
                    }
                }
            }
        }
    }
    .accordion-section {
        border-color: rgba($large-heading-color, 0.2);
        &-content {
            background-color: $menu-background;
        }
    }
    .menu-item {
        &-handle {
            background-color: $text-color-beige;
        }
        &-bar {
            .menu-item-handle {
                border-color: rgba($large-heading-color, 0.2);
            }
        }
        textarea {
            background-color: transparent;
            color: $light-text-color;
            border-color: rgba($large-heading-color, 0.2);
        }
        &-settings,
        .link-to-original {
            border-color: rgba($large-heading-color, 0.2);
        }
    }
    label.bulk-select-button {
        border-color: rgba($large-heading-color, 0.2);
        background-color: transparent;
        &:hover {
            border-color: rgba($large-heading-color, 0.2);
            background-color: $menu-background;
            color: $large-heading-color;
        }
    }
    #nav-menu-footer {
        box-shadow: none;
    }
    .striped>tbody> :nth-child(2n+1),
    ul.striped> :nth-child(2n+1),
    .alternate,
    #screen-meta,
    .postbox,
    .tsf-flex-nav-tab-wrapper,
    .tsf-flex-setting-label,
    .tsf-flex-setting-input,
    .attachments-browser .media-toolbar,
    .woocommerce-layout .woocommerce-layout__header .woocommerce-layout__header-heading,
    .woocommerce-layout .woocommerce-stats-overview__stats .woocommerce-summary__item,
    .woocommerce-layout .woocommerce-inbox-message,
    .woocommerce-page .woocommerce-layout .woocommerce-dropdown-button,
    .woocommerce-layout .woocommerce-card,
    .woocommerce-layout .woocommerce-select-control .components-base-control,
    .woocommerce table.wc_gateways tr:nth-child(2n+1) td,
    .woocommerce table.wc_emails tr:nth-child(2n+1) td,
    .woocommerce div.updated,
    .woocommerce table.wc_status_table tr:nth-child(2n) td,
    .woocommerce table.wc_status_table tr:nth-child(2n) th,
    .woocommerce.wc_addons_wrap .addons-banner-block,
    .woocommerce.wc_addons_wrap .addons-wcs-banner-block,
    .woocommerce.wc_addons_wrap .addons-column-block,
    .woocommerce.wc_addons_wrap .addons-small-light-block,
    .wrap .select2-container--default .select2-selection--multiple,
    #nav-menu-header,
    #nav-menu-footer,
    .nav-menus-php #post-body,
    .notice,
    div.updated,
    div.error,
    .privacy-settings-header,
    .health-check-header,
    .privacy-settings-accordion-trigger,
    .health-check-accordion-trigger,
    .wpmdb .bg-white,
    .wpmdb .nav-wrap,
    .googlesitekit-plugin .googlesitekit-header,
    .googlesitekit-layout {
        background-color: $menu-background;
    }
    #nav-menu-header,
    .widget-top,
    .menu-item-handle,
    .widget-inside,
    #menu-settings-column .accordion-container,
    #menu-management .menu-edit,
    .manage-menus,
    table.widefat,
    .stuffbox,
    p.popular-tags,
    .widgets-holder-wrap,
    .wp-editor-container,
    .popular-tags,
    .feature-filter,
    .imgedit-group,
    .comment-ays,
    .nav-menus-php #post-body,
    .menu-settings,
    .notice,
    div.updated,
    div.error,
    .privacy-settings-accordion,
    .health-check-accordion,
    .privacy-settings-accordion-heading,
    .health-check-accordion-heading,
    .wpmdb .nav-wrap {
        border-color: rgba($large-heading-color, 0.2);
    }
    .privacy-settings-accordion,
    .health-check-accordion {
        &-trigger {
            &:hover,
            &:active,
            &:focus {
                background-color: $scrollbar-colour;
                outline: none;
            }
            .badge {
                color: $color-blue;
                &.orange {
                    border-color: $color-orange;
                    color: $color-orange;
                }
            }
        }
        &-panel {
            background-color: $menu-background;
        }
    }
    .layout {
        .acf-fc-layout-handle,
        .mce-top-part .mce-toolbar-grp {
            background-color: $wysiwyg-top-bars;
        }
        .acf-field-wysiwyg {
            background-color: #545454;
        }
        html,
        body {
            background-color: $wysiwyg-body-color;
        }
        .wp-editor-container {
            border-color: $wysiwyg-outer-border-color;
        }
    }
    .widefat {
        tfoot {
            tr {
                th {
                    color: $large-heading-color;
                }
            }
        }
    }
}