@charset 'UTF-8';
// 1. Configuration and helpers
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';
// 2. Vendors
@import 'vendors/mq',
'vendors/normalize';
// 2. Base stuff
@import 'base/base',
'base/fonts',
'base/typography',
'base/helpers';
@import 'components/wysiwyg',
'components/button';
body {
    min-height: unset;
    padding-top: 20px;
    padding-left: 20px;
    >*:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}

html {
    background-color: #fff
}


/*HTML Video Controls*/

.mejs-controls .mejs-button button {
    position: relative;
    overflow: hidden;
    min-width: auto
}


/*WYSIWYG - CMS - Scroll bar hide*/

.wpview,
iframe {
    width: calc(100% - 5px) !important;
}


/*The horizontal line visible in the CMS editor*/

hr {
    width: 98%;
}

blockquote {
    background-color: rgba($color: $color-primary, $alpha: 0.3);
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: $padding-sm $padding-sm;
    margin: auto auto auto 30px;
    border-left: $padding-x-sm solid $color-primary;
    p {
        margin: 0;
    }
}