.products {
    li {        
        &::before {
            content: '';
            display: none;
        }
    }
}
.woocommerce {
    ul.products {
        li.product {
            @include mq($until: desktop) {
                width: 46.15%;
            }
        }
    } 
}
.woocommerce {
    ul.products[class*="columns-"] {
        li.product {
            @include mq($until: mobileLandscape) {
                width: 100%;
            }
        }
    }
}
/* Button Overrides */
.woocommerce a.button,.woocommerce button.button,.woocommerce button.button.alt,.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{@include button;}
.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled]{@include button;}
.related.products{display:flex;flex-direction:column}