// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer,
.footer {
    color: $color-text-white;
    /*$color-text-light;*/
    background-color: $color-background-dark;
    /*$color-primary;*/
    &__container {
        display: flex;
        padding: $padding-md $padding-md;
        max-width: $max-width;
        margin: 0 auto;
        @include mq($until: desktopAd) {
            flex-direction: column;
            padding: $padding-sm;
        }
    }
    &__form {
        flex: 1;
        padding-right: 15px;
        @include mq($until: desktopAd) {
            padding-right: 0;
        }
    }
    &__details {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-left: 20px;
        @include mq($until: desktopAd) {
            padding-left: 0;
        }
        .details__container {
            display: flex;
            justify-content: space-between;
        }
    }
    &__bottom-bar {
        color: $color-text-light;
        min-height: $navbar-height;
        .footer__background {
            background-color: $color-primary-dark;
            height: 100%;
        }
        .footer__container {
            justify-content: space-between;
            align-items: center;
            height: 100%;
            @include mq($until: tablet) {
                flex-direction: column;
                padding: $padding-md;
            }
        }
    }
    &__copyright,
    &__author,
    h3,
    li,
    a,
    p {
        color: $color-text-white;
    }
    ul {
        li {
            &::before {
                display: none;
            }
        }
    }
}