section,
.section {
    width: 100%;
    margin: 0 auto;
    padding: $padding-sm $padding-md;
    display: flex;
    justify-content: center;
    overflow: hidden;
    &__background {
        background-color: $color-background-light;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__container {
        padding: $padding-md;
        max-width: $max-width;
        width: 100%;
        @include mq($until: tablet) {
            padding: $padding-sm;
        }
    }
    &:first-child {
        padding-top: $padding-md;
    }
    &:last-child {
        padding-bottom: $padding-md;
    }
    @include mq($until: tablet) {
        padding: $padding-sm $padding-sm;
    }
    &--lightbox {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
    &--lightbox.show {
        display: flex;
    }
    &--two-column {
        .section__container {
            display: flex;
            @include mq($until: tablet) {
                flex-direction: column;
            }
        }
    }
    &--logo-slider {
        .section__container {
            max-width: $md-width;
        }
    }
    &__column {
        width: 50%;
        padding: 0 $padding-sm;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        @include mq($until: tablet) {
            width: unset;
            padding: $padding-sm 0;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .column__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &--left-aligned {
        padding-left: 0;
        padding-right: $padding-lg;
    }
    &--full-width {
        padding-left: 0;
        padding-right: 0;
    }
    &--centered {
        text-align: center;
    }
    &--call-to-action {
        color: white;
        .section__background {
            background-color: $color-primary;
        }
        .section__container {
            display: flex;
            align-items: center;
        }
    }
}

.map-block {
    height: 400px;
    @include mq($until: tablet) {
        height: 250px;
    }
    #map {
        height: 100%;
    }
}

.gm {
    &-svpc {
        display: none;
    }
    &-style {
        >div:last-child {
            display: none;
        }
    }
}

.gm-control-active {
    min-width: auto;
}