html[lang="en"] {
    margin-top: 0 !important;
}

#wpadminbar {
    opacity: 0;
    transition: opacity 1s;
    width: 50vw;
}

#wpadminbar.admin-bar-link {
    opacity: 1;
}

#wpadminbar.admin-bar-link .ab-top-menu li {
    pointer-events: auto;
}

#wp-admin-bar-root-default li:nth-child(1) a:before {
    pointer-events: auto;
}

.ab-top-menu li {
    pointer-events: none;
}