.accordion{margin:1rem 0;padding:0;list-style:none;border-top:1px solid $color-primary}
.accordion-item {
	&::before {
		content: '';
	}
	
	border-bottom: 1px solid $color-primary;
}
/* Thumb */
.accordion-thumb {
	margin: 0;
	padding: .8rem 0;
	cursor: pointer;
	font-weight: normal;	
	// Chevron
	&::before {
        content: '';
        color: $color-secondary;
		display: inline-block;
		height: 7px;
		width: 7px;
		margin-right: 1rem;
		margin-left: .5rem;
		vertical-align: middle;
		border-right: 1px solid;
		border-bottom: 1px solid;
		transform: rotate(-45deg);
		transition: transform .2s ease-out;
	}
}
/* Panel */
.accordion-panel{margin:0;padding-bottom:.8rem;display:none}
/* Active */
.accordion-item.is-active {
	.accordion-thumb::before {
		transform: rotate(45deg);
	}
}