/**
* Handles Page Fade Animation
**/
.page-fade {
    opacity: 0;
    transition: opacity 0.5s;
}
.page-fade-show {
    opacity: 1;
}
.scroll-animation {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    &-list {
        list-style: none;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-item {
        flex: 0 0 calc((100% - 80px) / 5);
        max-width: calc((100% - 80px) / 5);
        margin-bottom: 15px;
        @include mq($until: wide) {
            flex: 0 0 calc((100% - 60px) / 4);
            max-width: calc((100% - 60px) / 4);
        }
        @include mq($until: desktop) {
            flex: 0 0 calc((100% - 40px) / 3);
            max-width: calc((100% - 40px) / 3);
        }
        @include mq($until: desktopAd) {
            flex: 0 0 calc((100% - 20px) / 2);
            max-width: calc((100% - 20px) / 2);
        }
        @include mq($until: tablet) {
            flex: 0 0 100%;
            max-width: 100%;
        }
        &::before {
            display: none;
        }
        &:not(:nth-child(5n)) {
            margin-right: 20px;
            @include mq($until: wide) {
                margin-right: 0;
            }
        }
        &:not(:nth-child(4n)) {
            @include mq($until: wide) {
                margin-right: 20px;
            }
            @include mq($until: desktop) {
                margin-right: 0;
            }
        }
        &:not(:nth-child(3n)) {
            @include mq($until: desktop) {
                margin-right: 20px;
            }
            @include mq($until: desktopAd) {
                margin-right: 0;
            }
        }
        &:not(:nth-child(2n)) {
            @include mq($until: desktopAd) {
                margin-right: 20px;
            }
            @include mq($until: tablet) {
                margin-right: 0;
            }
        }
    }
    &-type {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        border: 5px solid $color-primary;
        flex-direction: column;
        padding: 5px;
        h4 {
            margin: 0 0 10px;
            padding: 0;
        }
        code {
            height: auto;
            line-height: 18px;
            margin: 0;
            padding: 0;
            font-size: 14px;
            text-align: center;
        }
    }
}

.resize-transition-stopper * {
    transition: none !important;
}