.banner {
    position: relative;
    color: $color-text-light;
    padding: $padding-sm $padding-md;
    padding-top: $navbar-height;
    display: flex;
    justify-content: center;
    @include mq($until: tablet) {
        padding: $padding-sm $padding-sm;
        padding-top: $navbar-height;
    }
    &__slider {
        height: 100%;
        width: 100%;
    }
    &__slide {
        position: relative;
        height:80vh;
        &--bg {
            height: 100%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        &--text{
            text-align: center;
        }
    }
    &__breadcrumb{
        height: max-content;
        position: absolute;
        left:80px;
        @include mq($until:desktop){
            left:40px;
        }       
    }
    &--home {
	    min-height: 80vh;
    }
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__container {
        padding: $padding-md;
        max-width: $max-width;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include mq($until: tablet) {
            padding: $padding-sm;
        }
    }
    &__scroll {
        position: absolute;
        cursor: pointer;
        bottom: 0;
    }
    &--slider {
        min-height: unset;
        padding: 0;
        @include mq($until: tablet) {
            padding: 0;
        }
        .banner {
            &__container {
                height: 100%;
                align-items: center;
            }
        }
        .slick-dots {
            bottom: 0;
        }
    }
}