blockquote {
    background-color: rgba($color: $color-primary, $alpha: 0.3);
    text-align: center;
    width: auto;
    max-width: 100%;
    padding: $padding-sm $padding-sm;
    margin: auto auto auto 30px;
    border-left: $padding-x-sm solid $color-primary;
    p {
        margin: 0;
    }
}