// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@mixin button {
    display: inline-block;
    text-align: center;
    min-width: 180px;
    padding: 20px 30px;
    border:none;
    background-color: $color-primary;
    color: $color-text-light;
    cursor: pointer;
    transition: .2s opacity ease-in-out;
}
button,
.button {
    @include button;
    &--dark {
        background-color: $color-primary-dark;
        color: $color-text-white; /*$color-text-light;*/
    }
    &--light {
        background-color: $color-primary-light;
        color: $color-text-white;
    }
    &--transparent {
        background-color: transparent;
        color: $color-text-white;
        border: 1px solid $color-text-white;
    }
    &:hover {
        opacity: .5;
    }
}