.section--call-to-action {
    .section__container {
        display: flex;
        p {
            padding-right: $padding-lg;
        }
        @include mq($until: desktop) {
            flex-direction: column;
        }
    }
}