.colors-container{display:flex;flex-wrap:wrap;justify-content:center}
.color-box{background-color:$color-background;text-align:center;border-radius:5px;margin:20px}
.color{height:100px;width:100%;min-width:220px}
.background--primary{background-color:$color-primary}
.background--primary--light{background-color:$color-primary-light}
.background--primary--dark{background-color:$color-primary-dark}
.background--secondary{background-color:$color-secondary}
.background--secondary--light{background-color:$color-secondary-light}
.background--secondary--dark{background-color:$color-secondary-dark}