.grid_row-filter{
  	display: flex;
}
.grid_row-filter--col4{
  	width: 25%;
}
.grid_row-filter--col8{
  	width: 75%;
}

.grid_row-filter--col8 .heading--filter{
  	display: flex;width: 100%;
}

.grid_row-filter--col8  .heading--filter__options{
  	display: flex;
}

.doc--filter-option{
  	display: flex;
  	flex-direction: column;
}

.heading--filter__content{
  	width: 30%;
}
.heading--filter__options{
  	width: 70%;
}
.heading--filter__options .search{
  	width: 100%;
}

.heading--filter__options .options__filed .select__field{
  	width: 20%;
}