/**
  * Basic styles for forms
  */

form {
    display: flex;
    flex-direction: column;
}

input,
select,
textarea {
    margin-bottom: 10px;
    border-radius: 0;
}

input {
    width: 100%;
    min-height: 54px;
    border: none;
    background-color: $color-background;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 222px;
    border: none;
    background-color: $color-background;
}

.checkbox,
.radiobutton {
    display: flex;
    input {
        width: 25px;
        height: 25px;
        margin: auto $padding-sm;
        @include mq($until: tablet) {
            margin: 0;
        }
    }
    label {
        align-self: center;
        margin-right: $padding-sm;
        @include mq($until: tablet) {
            margin-right: $padding-x-sm;
        }
    }
    &__row {
        display: flex;
        justify-content: flex-end;
        margin-bottom: $padding-x-sm;
    }
}

.form {
    &__field {
        display: flex;
        flex-direction: column;
    }
    &__row {
        display: flex;
        @include mq($until: desktop) {
            flex-direction: column;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        width: 50%;
        @include mq($until: desktop) {
            width: 100%;
        }
        &--left {
            margin-left: $padding-sm;
        }
        @include mq($until: desktop) {
            &--left {
                margin-left: 0px;
            }
        }
    }
}

.select {
    &__field {
        position: relative;
        appearance: none;
        width: 100%;
        & select {
            display: none;
        }
    }
    &__selected {
        border: 1px solid $color-background;
        padding: $padding-x-sm $padding-sm;
        cursor: pointer;
        user-select: none;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: $padding-x-sm;
            right: 25px;
            width: $padding-sm;
            height: $padding-sm;
            border-top: 2px solid $color-background;
            border-left: 2px solid $color-background;
            transform: rotate(225deg);
        }
    }
    &__arrow-active {
        &::after {
            top: $padding-sm;
            transform: rotate(45deg);
        }
    }
    &__items {
        position: absolute;
        background-color: $color-background-light;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 9;
        border: 1px solid $color-background;
        border-top: none;
        &>div {
            border: none;
            padding: 5px $padding-sm 5px $padding-sm;
            cursor: pointer;
            user-select: none;
        }
    }
    &__hide {
        display: none;
    }
}

.checkbox {
    &__container {
        position: relative;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: $padding-sm;
            width: $padding-sm;
            z-index: 1;
            margin: 0;
            min-height: auto;
            &:checked~.checkmark {
                background-color: $color-primary;
                &::after {
                    display: block;
                }
            }
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: $padding-sm;
            width: $padding-sm;
            background-color: $color-background-light;
            border: 1px solid $color-primary;
            &::after {
                content: "";
                position: absolute;
                display: none;
                left: 6px;
                top: 3px;
                width: 5px;
                height: $padding-x-sm;
                border: solid $color-background-light;
                border-width: 0 2px 2px 0;
                transform: rotate(40deg);
            }
        }
    }
}

.radio {
    &__container {
        position: relative;
        input[type=radio] {
            position: absolute;
            left: 0;
            z-index: 9;
            opacity: 0;
            min-height: auto;
        }
        input[type=radio]:checked~.check {
            border: 1px solid $color-primary;
            &::after {
                opacity: 1;
            }
        }
        & .check {
            display: block;
            position: absolute;
            border: 1px solid $color-primary;
            border-radius: 100%;
            height: $padding-sm;
            width: $padding-sm;
            top: 0;
            left: $padding-sm;
            z-index: 5;
            transition: border .25s linear;
            &::after {
                content: "";
                background-color: $color-primary;
                width: $padding-x-sm;
                height: $padding-x-sm;
                position: absolute;
                border-radius: 100%;
                left: 4px;
                top: 4px;
                opacity: 0;
            }
        }
    }
}

@include mq($from: desktop) {
    #searchform {
        flex-direction: row;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            @include mq($from: wide) {
                width: 560px;
            }
        }
        input {
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
}

.searchform {
    @include mq($until: desktop) {
        display: none;
    }
}