.gravity-form {
    &--tow-column {
        .gform_wrapper.gravity-theme .gform_fields {
            display: block;
            column-count: 2;
            @include mq($until: desktop) {
                column-count: 1;
            }
        }
    }
} 
.gform_wrapper.gravity-theme {
    & form  {
        & .gfield_label {
            margin: 0;
        }
        & .gform_footer {
            align-self: flex-start;
            padding: 0;
            @include mq($until: desktop) {
                align-self: normal;
            }
        }
    }
}
/*This styles related to the gravity form button component.*/
.gf-button {
    &--transparent {
        & .button {
            background-color: transparent;
            color: white;
            border: 1px solid white;
        }
    }
    &--dark {
        & .button {
            background-color: $color-primary-dark;
            color: $color-text-light;
        }
    }
    &--light {
        & .button {
            background-color: $color-primary-light;
        }
    }
}