.lightbox {
    &__container {
        height: auto;
        width: 100%;
        max-width: 920px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
    &__close {
        font-size: 28px;
        line-height: 44px;
        color: $color-text-white;
        position: absolute;
        z-index: 999;
        cursor: pointer;
        right: 0;
        top: 0;
        width: auto;
        height: auto;
    }
}