.section--logo-slider{
    .slick-slider .slick-track, .slick-slider .slick-list{    
        @include mq($from : mobileLandscape){
            margin-right: -15px;
        }
    }
}
.logo--slider{
    overflow: hidden;
    .slick{
        &-slide{
            display: flex;
            justify-content: center;           

            @include mq($from : mobileLandscape){
                margin-right: $padding-sm;
            }
            div{
                display: flex;
            }
        }
        &-track{
            display: flex;
            justify-content: center;
            align-items: center;
         }
    }
    img{
        max-width: 180px;
        object-fit: contain;
        object-position: center;
    }
}