.section--mailchimp {
	width: calc(100% - 80px);
	background-color: $color-text-white;
	padding: 80px 40px;
	margin: 20px 40px;

	.section__container {
		padding: 0;
	}

	.top-content {
		text-align: center;
	}

	#mc_embed_signup {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		form, #mc_embed_signup_scroll {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		h2, p, .indicates-required {
			margin-bottom: 24px;
		}

		h2, p, .indicates-required {
			text-align: center;
			margin-top: 0;
		}

		.mc-field-group {
			max-width: 700px;
			width: 100%;
			margin-bottom: 10px;

			input {
				margin: 0;
			}
		}

		.button {
			width: auto;
			margin-top: 30px;
			margin-bottom: 0;
		}
	}
}