.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 99;
    &__background {
        background-color: $color-background-dark;
        /*$color-primary-dark;*/
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
        transition: 0.3s all linear;
        &:not(.scroll) {
            background-color: transparent;
            box-shadow: none;
        }
        &.scroll {
            .menu li {
                &.current-menu-item {
                    a {
                        color: $color-primary;
                    }
                }
                a {
                    color: $color-text-white;
                }
            }
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0 $padding-lg;
        height: $navbar-height;
        background-color: transparent;
        @include mq($until: desktop) {
            padding: 0 $padding-md;
            flex-direction: column;
        }
    }
    &__logo {
        height: 100%;
        display: flex;
        align-items: center;
        max-width: 124px;
        z-index: 1;
        a {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            img {
                height: 60%;
                width: auto;
            }
        }
    }
    .menu__container {
        display: block;
        height: 100%;
        @include mq($until: desktop) {
            transition: all 0.3s ease-in-out;
            background-color: transparent;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
        }
    }
    .hamburger {
        display: none;
        min-width: 0;
        padding: 0;
        position: absolute;
        right: $padding-md;
        top: $padding-sm;
        padding-top: $hamburger-layer-height;
        @include mq($until: desktop) {
            display: block;
        }
    }
    #searchsubmit {
        background-color: $color-primary;
        color: $color-text-light;
        cursor: pointer;
        &:hover {
            opacity: .5;
        }
    }
}

.navbar.is-active {
    @include mq($until: desktop) {
        .navbar__logo {
            height: $navbar-height;
        }
        .navbar__container {
            height: auto;
        }
        .navbar__background {
            background-color: transparent;
        }
        .menu__container {
            opacity: 1;
            visibility: visible;
            background-color: $color-primary-dark;
        }
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    height: 100%;
    @include mq($until: desktop) {
        flex-direction: column;
        justify-content: center;
    }
    li {
        @include mq($until: desktop) {
            padding-bottom: $padding-sm;
            padding-right: 0;
        }
        &::before {
            content: '';
            display: inherit;
        }
        padding-right: 2vw;
        padding-bottom: 0;
        &:last-child {
            padding-right: 0;
        }
        &.current-menu-item {
            a {
                color: $color-primary;
            }
        }
        a {
            color: $color-text-light;
            text-decoration: none;
            @include mq($until: desktop) {
                color: $color-text-white;
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

// .tg-header-menu {
//     @include mq($until: desktop) {    
//         flex-direction: column;   
//         align-items: start;  
//         position: absolute;
//         width: 100%;
//         left: 0px;
//         top: 46px;
//         background-color: $color-background;
//         display: none;
//     }
//     li {       
//         @include mq($until: desktop) {         
//             position: relative;     
//             width: 100%;       
//             padding: 0;      
//             background-color: $color-text;       
//             border-top: 1px solid $color-primary;    
//         }      
//         a {      
//             padding: 10px; 
//             display: block;  
//             color: $color-text-light;
//         }
//         &.menu-item-has-children { 
//             &:hover > .sub-menu {   
//                 left: auto;
//             }
//             &:hover > .sub-menu li {    
//                 opacity: 1;
//             }
//             &:hover > a::before {     
//                 top: 50%; 
//                 height: 0;
//             }
//             & > a {   
//                 position: relative;   
//                 display: block;   
//                 padding-right: 30px;      
//                 &::after, &::before {  
//                     content: '';
//                     position: absolute;     
//                     background: #ddd; 
//                     display: block;  
//                     @include mq($until: desktop) {  
//                         display: none;
//                     }
//                 } 
//                 &::before {     
//                     top: calc(50% - 3px);
//                     right: 14px;
//                     width: 2px;  
//                     height: 8px;
//                     -webkit-transition: all .25s ease;
//                     -ms-transition: all .25s ease;
//                     transition: all .25s ease;
//                 }
//                 &::after {    
//                     top: calc(50%); 
//                     right: 11px;   
//                     width: 8px;  
//                     height: 2px;
//                 }
//             }
//         }
//     }
//     .sub-menu {
//         position: absolute;
//         left: -9999px;
//         @include mq($until: desktop) {
//             position: relative;
//             left: auto;
//             display: none;
//         }
//         li {
//             opacity: 0;
//             background:#00c4b3;
//             -webkit-transition: all .25s ease;
//             -ms-transition: all .25s ease;
//             transition: all .25s ease;
//             padding-right: 0;
//             position: relative;
//             a {
//                 border-bottom: 1px solid rgba(150,150,150,0.15);
//                 padding: 12px 30px 12px 20px;
//                 display: block;
//                 @include mq($until: desktop) {
//                     padding: 10px 0px 10px 30px;
//                 }
//             }
//             @include mq($until: desktop) {
//                 border-bottom: none;
//                 padding: 0;
//             }
//             &:last-child a {
//                 border-bottom: none;
//             }
//             @include mq($until: desktop) {
//                 opacity: 1;
//                 background: transparent;
//                 border-bottom: none;
//             }
//         }
//         .menu-item-has-children .sub-menu {
//             top: 0;
//             margin-left: 100%;
//             width: 100%;
//             @include mq($until: desktop) {
//                 margin-left: 0;
//             }
//             a {
//                 @include mq($until: desktop) {
//                     padding: 10px 0 10px 45px;
//                 }
//             }
//         }
//     }
// }
// .mobile-menu-icon {
//     width: 55px;
//     height: 46px;
//     position: absolute;
//     right: 0;
//     top: 0;
//     cursor: pointer;
//     z-index: 99;
//     &::before, &::after {
//         content: '';
//         position: absolute;
//         display: block;
//         width: 20px;
//         right: 20px;
//     }
//     &::before {
//         top: 16px;
//         height: 2px;
//         background: #ddd;
//         -webkit-transition: all .3s ease;
//         -ms-transition: all .3s ease;
//         transition: all .3s ease;  
//     }
//     &::after {
//         top: 22px;
//         height: 8px;
//         border-top: 2px solid #dddddd;
//         border-bottom: 2px solid#dddddd;
//     }
//     @include mq($from: desktop) {
//         display: none;
//     }
// }
// .menu-opened {
//     &::before, &::after {
//         top: 23px;
//         width: 19px;
//         background: #fff;
//     }
//     &::before {
//         -webkit-transform: rotate(-45deg);
//         -moz-transform: rotate(-45deg);
//         -ms-transform: rotate(-45deg);
//         -o-transform: rotate(-45deg);
//         transform: rotate(-45deg);
//     }
//     &::after {
//         border: 0;
//         height: 2px;
//         -webkit-transition: all .3s ease;
//         -ms-transition: all .3s ease;
//         transition: all .3s ease;
//         -webkit-transform: rotate(45deg);
//         -moz-transform: rotate(45deg);
//         -ms-transform: rotate(45deg);
//         -o-transform: rotate(45deg);
//         transform: rotate(45deg);
//     }
// }
// .mobile-sub-menu-icon {
//     position: absolute;
//     z-index: 99;
//     right: 0;
//     top: 0;
//     display: block;
//     border-left: 1px solid#444;
//     height: 48px;
//     width: 48px;
//     cursor: pointer;
//     &::before, &::after {
//         content: '';
//         position: absolute;
//         display: block;
//         background:#ddd;
//     }
//     &::before {
//         top: 19px;
//         right: 22px;
//         width: 2px;
//         height: 8px;
//     }
//     &::after {
//         top: 22px;
//         right: 19px;
//         width: 8px;
//         height: 2px;
//     }
//     @include mq($from: desktop) {
//         display: none;
//     }
// }
// .submenu-opened::before {
//     @include mq($until: desktop) {
//         display: none;
//     }
// }