/**
  * Basic styles for filter
*/
.filter {
    h4 {
        margin: 0;
    }
    &__holder {
        display: flex;
        @include mq($until: tablet) {
			flex-direction: column;
        }
        li {
            margin-right: $padding-x-sm;
            padding-bottom: $padding-sm;
            &::before {
                display: none;
            }
        }
    }
}
/**
  * Basic styles for pagination
*/
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: $padding-sm 0 0px;
    @include mq($until: tablet) {
        flex-direction: column;
    }
    &__previous, &__next  {
        a {
            @include button;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    &__page-numbers {
        @include mq($until: tablet) {
            margin: $padding-x-sm 0;
        } 
    }
}
.button-disable{pointer-events:none;opacity:.5}