.tabs-container{max-width:500px;margin:50px auto;box-shadow:0 0 5px 4px #dadada} 
.tabs {
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    overflow-x: auto;
    &__li {
        margin: 0;
        padding: 0;
        &::before{
            display: none;            
        }
    }
    &__link{
      display: flex;
      padding: 10px 15px;
      text-decoration: none;
      text-transform: capitalize;
      border-bottom: 2px solid transparent;
      position: relative;
      margin-bottom: 0;
      font-size:16px;
      color:$color-primary;
      font-family: inherit;
       &:hover{
           text-decoration: none;
           outline: 0;
           opacity: 1;
           
       }
       &.active{
        border-bottom: 2px solid $color-primary;
        text-decoration: none;
        outline: 0;
        opacity: 1;
        &:hover{
            text-decoration: none;
            outline: 0;
            opacity: 1;
            
        }
       }
       &.active, &:hover, &:focus{
        color:$color-primary;
       }
    }
  }  
  .tabs-item {
    display: none;
    padding: 10px 0;
    font-size: 14px;
    &.active {
    display: flex;
  }
  p{
      margin: 0;
  }  
}