.section {
    &--text-and-media {
        .media--box {
            position: absolute;
            right: 0;
            width: calc(100% - 20px);
            height: 100%;
            top: 0;
            overflow: hidden;
            @include mq($until: tablet) {
                width: 100%;
                max-height: 100vw;
                position: static;
            }
        }
        .section__column {
            position: relative;
        }
        .tigmo-video--cover {
            height: 101%;
        }
    }
}

.videoPoster {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    transition-delay: 0s, 0s;
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
    &:before {
        content: '';
        background-image: url("assets/img/play-white-button.png");
        background-size: 99px 99px;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: .6;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms;
    }
}

.videoWrapperActive {
    .videoPoster {
        opacity: 0;
        height: 0;
        -webkit-transition-delay: 0s, 800ms;
        transition-delay: 0s, 800ms;
    }
}