.section--text-and-image {
    .slider-content {
        display: flex;
        @include mq($until: tablet) {
            flex-direction: column-reverse;
        }
        .slider-image {
            width: 50%;
            align-self: flex-start;
            @include mq($until: tablet) {
                width: 100%;
            }
            .imgDiv {
                width: 100%;
                height: auto;
                position: relative;
                overflow: hidden;
                margin-bottom: 30px;
                @include mq($until: desktop) {
                    height: auto;
                    margin-bottom: 25px;
                }
                @include mq($until: tablet) {
                    height: auto;
                    margin-bottom: 20px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.3s ease;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            p {
                max-width: 548px;
                color: $color-primary-darkgrey;
                width: calc(100% - 90px);
                @include mq($until: desktop) {
                    max-width: 236px;
                }
                @include mq($until: tablet) {
                    max-width: 243px;
                }
            }
            .slick-arrow {
                top: auto;
                bottom: -2px;
                z-index: 1;
                @include mq($until: tablet) {
                    bottom: -6px;
                }
                &:before {
                    content: "";
                    background-image: url(assets/img/Arrow__grey.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 16px;
                    height: 10px;
                    display: block;
                    margin: 0 auto;
                }
                &:hover {
                    &:before {
                        background-image: url(assets/img/Arrow--blue.png);
                    }
                }
            }
            .slick-prev {
                left: auto;
                right: 67px;
                &:before {
                    font-family: unset;
                    color: #000;
                    transform: rotate(180deg);
                }
            }
            .slick-next {
                right: 0;
            }
            .slider__counter {
                position: absolute;
                width: 30px;
                right: 0;
                text-align: right;
                top: auto;
                bottom: 0;
            }
        }
        .content {
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 187px;
            align-items: flex-start;
            height: auto;
            @include mq($until: desktop) {
                padding-left: 20px;
                font-size: 25px;
                line-height: 35px;
                justify-content: flex-start;
                height: unset;
            }
            @include mq(tablet, desktop) {
                .with-arrow {
                    display: block;
                    margin-left: auto;
                }
            }
            @include mq($until: tablet) {
                padding-left: 0px;
                width: 100%;
                height: unset;
            }
            h3 {
                margin-bottom: 20px;
                padding: 0;
                @include mq($until: desktop) {
                    margin-bottom: 22px;
                    padding: 0;
                    font-size: 25px;
                    line-height: 35px;
                }
                @include mq($until: tablet) {
                    margin-bottom: 14px;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            p {
                font-size: 25px;
                line-height: 35px;
                color: #8F9093;
                margin-bottom: 52px;
                margin-top: 0;
                @include mq($until: desktop) {
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 38px;
                    padding: 0;
                }
                @include mq($until: tablet) {
                    margin-bottom: 30px;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            a {
                @include mq($until: tablet) {
                    margin-bottom: 38px;
                }
            }
        }
        .slider__counter {
            position: absolute;
            right: 0;
            color: #8F9093;
            font-size: 18px;
            line-height: 30px;
            @include mq($until: tablet) {
                font-size: 16px;
                line-height: 24px;
            }
            .curCount {
                color: #1A1A1A;
                font-size: 18px;
                line-height: 30px;
                font-family: $primary-font-stack;
                font-size: 18px;
                line-height: 30px;
                @include mq($until: tablet) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    &.imgalignright {
        .slider-content {
            flex-direction: row-reverse;
            @include mq($until: tablet) {
                flex-direction: column-reverse;
            }
            .content {
                padding-right: 150px;
                padding-left: 0;
                @include mq($until: desktop) {
                    padding-right: 20px;
                    justify-content: flex-start;
                    height: unset;
                    .with-arrow {
                        max-width: 100%;
                        display: inline;
                        margin-left: 0;
                    }
                }
                @include mq($until: tablet) {
                    padding-right: 0px;
                    width: 100%;
                }
            }
        }
    }
}