/*** Plyr Settings**/

.plyr {
    button {
        min-width: unset;
    }
}

.tigmo-video--no-poster {
    .plyr--stopped.plyr__poster-enabled .plyr__poster {
        opacity: 0;
    }
}


/*** Make Video Fill the Container like object-fit: cover;**/

.tigmo-video--cover {
    .plyr {
        width: 100%;
        height: 100%;
        &__poster {
            background-size: cover;
        }
    }
    .plyr__video-wrapper {
        width: calc((100vh - 2rem) * 1.77777778);
        min-width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.iframe-holder {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin: 0;
    height: 0;
    width: 100%;
    max-width: 100%;
    & .video-full-width,
    & iframe,
    & object,
    & embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
        border: 0;
    }
    .player {
        height: 100% !important;
    }
}

.mejs-controls .mejs-button button {
    position: relative;
    overflow: hidden;
    min-width: auto
}

.poster-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    background-size: cover;
    background-position: center top;
    -webkit-transition: .6s linear;
    transition: .6s linear;
    opacity: 1;
    object-fit: cover;
    height: calc(100vh- 116px);
    @include mq($until: tablet) {
        height: calc(100vh- 96px);
    }
    &.poster-overlay-hide {
        opacity: 0;
    }
}