.tiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -$padding-x-sm;
    .tile {
        flex-basis: 300px;
        padding: $padding-sm;
    }
    &--item {
        width: calc(100% * (1 / 3) - #{$padding-sm});
        margin: $padding-x-sm;
        position: relative;

        @include mq($until: desktop) {
			width: calc(100% * (1 / 2) - #{$padding-sm});
        }
        @include mq($until: mobileLandscape) {
			width: calc(100% * (1 / 1) - #{$padding-sm});
        }        
        a {
            display: flex;
            flex-direction: column;
        }
    }
    &--image {
        @include aspect-ratio(4, 3);
    }
    &--title {
        text-align: center;
        padding: $padding-sm $padding-sm;
        background-color: $color-primary-dark;
    }
}