/*** Styles applied to this component will also show up in the wysywig editor on the backend.**/
.section--wysiwyg .section__container,
.mce-content-body {
        p {
            img {
                padding-right: $padding-md;
            }
        }
}
.section {
    &--wysiwyg {
        & .section {
            &__container {
                display: flex;
                flex-direction: column;
            }
        }
        & .wp-caption {
            width: 100% !important;
            img {
                width: 100%;
            }
            .wp-caption-text {
                margin: 0 0 $padding-sm;
            }
        }
        & .wp-video {
            width: 100% !important;
            height: 100%;
        }
    }
}
.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
    & > * { min-width: 0; }  //Firefox Bug?!
	@include mq($until: tablet) {
		flex-direction: column;
	}
}
.gallery-item {
	margin-bottom: 5px;
    text-align: center;
    width: 100%;
    padding-left: $padding-sm;
    padding-right: $padding-sm;
    &:first-of-type {
        padding-left: 0;
    }
    &:last-of-type {
        padding-right: 0;
    }
	@include mq($until: tablet) {
		margin-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
	}
	a {
		display: block;
	}
	.widget-area & {
		margin-bottom: 5px;
	}
}
.gallery-icon img{width:100%;border:none}
@for $i from 1 through 9 {
	.gallery-columns-#{$i} {
		.gallery-item {
			flex-basis: calc(#{percentage(1/$i)} - 5px);
            @include mq($until: tablet) {
                flex-basis: 100%;
            }
		}
	}
}
